.wrapper {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 60vh;
    margin-block: auto;
    margin-inline: 50px;
    transition: .3s ease-in-out;

    >img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &:hover {
        cursor: pointer;
        scale: 1.03;
        box-shadow: 7px 7px 5px black;

        >div {
            opacity: 70%;
        }
    }

    >div {
        transition: .3s ease-in-out;
        background-color: black;
        opacity: 30%;
        width: 98%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
    .imgparent{
        width: 103%;
        height: 103%;
        overflow: auto;
    }

@media (max-width: 2000px) {
    .wrapper {
        height: 80vh;
    }
}
@media (max-width: 768px) {
    .wrapper {
        height: auto;
    }

    .modd{
        width: 90% !important;
        overflow: auto;
        height: 60%;
        top: 50%;
        inset: 15px 50% 5px 50%;

    }
}